.movie-details-container {
  display: flex;
  justify-content: center;
  margin: 3vh auto 0 auto;
  max-width: 86vh;
  flex-direction: column;
}

.movie-cover {
  padding: 9px;
}

.movie-title {
  margin-bottom: 6px;
}
